@font-face {
    font-family: 'Futura';
    src: url("../../fonts/Futura.woff");
}

.headerSection {
    padding: 15px 0;
    z-index: 99;
    color: #16d0c5;
}
.containerFluid {
    display: grid;
    position: relative;
    grid-auto-flow: column;
    margin: 0 10%;
}
.siteLogo {
    display: grid;
    align-content: center;
    justify-content: start;
}
.siteLogo a img {
    max-width: 100%;
}
.menuList {
    list-style: none;
    position: relative;
    display: grid;
    align-content: center;
    justify-content: end;
    grid-auto-flow: column;
    gap: 7%;
    padding-right: 6%;
}
.menuList li {
    display: inline;
    color: #002d76;
    font-weight: 500;
}
.menuList li a {
    display: inline-block;
    font-family: "Futura", sans-serif;
    font-size: 16px;
    color: #002d76;
    text-decoration: none;
    background-color: transparent;
}
.menuList li a.active {
    text-decoration: white;
    color: #002d76;
}
